<div class="layout-container">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="toggleSidenav(sidenav)">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">{{ appTitle }}</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav [mode]="sidenavMode" [(opened)]="isSidenavOpen" class="sidenav mat-elevation-z10">
      <p class="nav-header">Menü</p>
      <div>
        <button mat-button (click)="navigateTo('index')">Option 1</button>
      </div>

      <div>
        <button mat-button>Option 2</button>
      </div>

      <div>
        <button mat-button>Option 3</button>
      </div>

    </mat-sidenav>

    <!-- Hauptinhalt -->
    <mat-sidenav-content id="sidenav-content">
      <!-- Header -->

      <!-- Content -->
      <div class="main-container">
        <h1>Willkommen!</h1>
        <p>Hier ist Ihr Hauptinhalt.</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
