<!--<mat-toolbar color="primary" class="header">-->
<!--  <button mat-icon-button (click)="toggleSidenav(sidenav)">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--  <span class="app-title">{{ appTitle }}</span>-->
<!--  <span class="spacer"></span>-->
<!--  <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--    <mat-icon>account_circle</mat-icon>-->
<!--  </button>-->

<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item>Profile</button>-->
<!--    <button mat-menu-item>Settings</button>-->
<!--    <button mat-menu-item>Logout</button>-->
<!--  </mat-menu>-->
<!--</mat-toolbar>-->
